In [1]:
import pandas as pd
import numpy as np

trdt=pd.read_csv('/home/aaftab/Github/Computational-Systems-Biology-Project/DREAM5 SYSTEMS GENETICS CHALLENGE/PART B/TrainingGenotype.csv')
tstdt=pd.read_csv('/home/aaftab/Github/Computational-Systems-Biology-Project/DREAM5 SYSTEMS GENETICS CHALLENGE/PART B/TestingGenotype.csv')

In [3]:
def basicvisualisation(df): 
        #function for basic visualistaion gives number of columns,number of rows,first 5 rows of dataset,number of columns with each type dtypes
       
        s=df
        s.ncol=len(s.columns)
        s.nrows=len(s)
        
        print(s.head(5))
        
        print('Number of columns is '+ str(s.ncol))
        print('Number of rows is '+ str(s.nrows))
        
        print(s.dtypes.value_counts()) #prints number of columns of each datatype
        
        if s.ncol<10: # print all column names only if number of columns is less than 10, to keep it neat
            print('Column names are '+s.columns)
         #unique ids in categorical column
        categoricalcolumns=s.select_dtypes(include=['object']).columns
        for i in categoricalcolumns:
            print('The categorical column '+str(i)+' has '+str(len(s[str(i)].unique()))+' unique ids ')

basicvisualisation(trdt)

  Plant  A  A.1  A.2  A.3  A.4  A.5  A.6  A.7  A.8  ...  A.933  A.934  A.935  \
0  RIL1  1    1    1    1    1    1    1    1    1  ...      1      1      1
1  RIL2  0    0    0    0    0    0    0    0    0  ...      0      1      1
2  RIL3  1    1    1    1    1    1    1    1    1  ...      1      1      1
3  RIL4  1    1    1    1    1    1    1    1    1  ...      1      1      1
4  RIL5  0    0    0    1    1    0    1    1    1  ...      0      1      0

   A.936  A.937  A.938  A.939  A.940  Phenotype1  Phenotype2
0      0      0      0      0      0       1.789     27.1880
1      1      1      1      1      1       1.713     28.4745
2      1      1      1      1      1       1.678     31.4005
3      1      1      1      1      1       2.187     23.4160
4      0      0      0      0      1       3.129     15.7990

[5 rows x 944 columns]
Number of columns is 944
Number of rows is 200
int64      941
float64      2
object       1
dtype: int64
The categorical column Plant has 200 unique ids

In [4]:
basicvisualisation(tstdt)

  Plant  A  A.1  A.2  A.3  A.4  A.5  A.6  A.7  A.8  ...  A.931  A.932  A.933  \
0  RIL1  0    0    0    0    0    0    1    1    1  ...      1      1      1
1  RIL2  0    0    0    0    0    1    0    0    0  ...      0      1      1
2  RIL3  1    1    1    1    1    1    1    1    1  ...      0      0      0
3  RIL4  1    1    1    1    1    1    1    1    1  ...      1      1      1
4  RIL5  1    1    1    1    1    1    1    1    1  ...      0      0      0

   A.934  A.935  A.936  A.937  A.938  A.939  A.940
0      1      1      0      0      0      0      0
1      0      1      1      1      1      1      1
2      0      0      0      0      0      0      0
3      1      1      1      1      1      1      1
4      1      1      0      0      0      0      0

[5 rows x 942 columns]
Number of columns is 942
Number of rows is 30
int64     941
object      1
dtype: int64
The categorical column Plant has 30 unique ids

In [5]:
corrph1=pd.DataFrame(trdt.corr().iloc[:-2,-2])

In [5]:
corrph1.to_csv('ph1corr.csv')

In [6]:
corrph2=pd.DataFrame(tstdt.corr().iloc[:-1,-1])
corrph2.to_csv('ph2corr.csv')

Ph1corr best correlations
# A.784	-0.144079670396511
A.776	-0.143997603353291
A.538	-0.137274965276636
A.794	-0.124181122656149
A.238	-0.124013514035448
A.643	-0.121111883792516
A.806	-0.120974988740976
A.537	-0.120735043758695
0.153876268741056
0.154273007006875
0.154912996140595
0.155228744979671
0.155522187830318
0.156571706153193
0.156596191156178
0.158566661278473
0.159097713794466
0.1604244332026
0.161314798961133
0.162612701422485
0.164120394867529
0.164618699453769
0.165601971115578
0.165964205508251
0.167995813747302
0.168403148823879
0.171658598262882
0.174931041519812
0.177386080032505
0.179654774899088
0.187014806365926
0.190068338747164
0.19104248187356
0.191758245365678
0.199414164215195
0.204069326541585
0.205427305459395
0.206136217373427
0.212175438702056
0.215494660078972

Ph2 Corr best
# A.1	-0.590927826341697
A.6	-0.573092246651065
A.7	-0.573092246651065
A.8	-0.573092246651065
A	-0.536118553318739
A.2	-0.536118553318739
A.3	-0.536118553318739
A.4	-0.536118553318739
A.10	-0.48006512051617
A.72	-0.45133857602476
A.166	-0.45133857602476
A.9	-0.435406698564593
A.5	-0.43444089665484
A.164	-0.43444089665484
0.43444089665484
0.45133857602476
0.45133857602476
0.479687443547538
0.484200124706252
0.484200124706252
0.484200124706253
0.484200124706253
0.484200124706253
0.484200124706253
0.508304245252414
0.590927826341696
0.590927826341697
0.931891116296093
1
1
1

In [7]:
corrph2=pd.DataFrame(trdt.corr().iloc[:-1,-1])
corrph2.to_csv('ph3corr.csv')

# Phenotype1	-0.641408284505818
A.214	-0.243332438040548
A.210	-0.226137752465888
A.211	-0.219809844620297
A.47	-0.2181386370664
A.46	-0.217975456861102
A.212	-0.215038357046347
A.215	-0.207619755677218
A.216	-0.207029866311596
A.40	-0.200280689151531
A.519	0.15196862876739
A.526	0.152555132849401
A.253	0.153016463458149
A.536	0.15473694028659
A.249	0.155010751305051
A.528	0.156509130217447
A.518	0.158300149104228
A.240	0.158342066268495
A.246	0.166759204430035
A.538	0.166867379166661
A.241	0.170268080907501
A.258	0.17037631409322
A.238	0.171316423029323
A.537	0.171889267955443
A.239	0.174424211021624
A.245	0.177817173836627
A.529	0.179184507333562
A.244	0.181706752276457
A.243	0.182074008326973

In [9]:
features=trdt.copy()

features.drop('Phenotype1',axis=1,inplace=True)
features.drop('Phenotype2',axis=1,inplace=True)
features.drop('Plant',axis=1,inplace=True)


testfeatures=tstdt.copy()
testfeatures.drop('Plant',axis=1,inplace=True)

results1=trdt['Phenotype1']
results2=trdt['Phenotype2']

from sklearn import preprocessing
standard= preprocessing.StandardScaler()

features = standard.fit_transform(features)
testfeatures=standard.fit_transform(testfeatures)

features=pd.DataFrame(features)
testfeatures=pd.DataFrame(testfeatures)

In [13]:
from sklearn import linear_model

lmr1 = linear_model.LinearRegression()
modellr1 = lmr1.fit(features,results1)

predictions1 = modellr1.predict(testfeatures)
pred1=pd.DataFrame(predictions1)
        
pred1.to_csv('LinearRegressionPredictions1.csv')


lmr2 = linear_model.LinearRegression()
modellr2 = lmr2.fit(features,results2)

predictions2 = modellr2.predict(testfeatures)
pred2=pd.DataFrame(predictions2)
        
pred2.to_csv('LinearRegressionPredictions2.csv')

In [7]:
predic1=pd.read_csv('/home/aaftab/Github/Computational-Systems-Biology-Project/DREAM5 SYSTEMS GENETICS CHALLENGE/PART B/LinearRegressionPredictions1.csv')
predic2=pd.read_csv('/home/aaftab/Github/Computational-Systems-Biology-Project/DREAM5 SYSTEMS GENETICS CHALLENGE/PART B/LinearRegressionPredictions2.csv')

gold=pd.read_csv('/home/aaftab/Github/Computational-Systems-Biology-Project/DREAM5 SYSTEMS GENETICS CHALLENGE/PART B/DREAM5_SysGenB_GoldStandard/DREAM5_SysGenB1_GoldStandard.csv', sep='\t')
gold.drop(gold.columns[-1],axis=1,inplace=True)
print(gold)

      RIL1     RIL2     RIL3     RIL4     RIL5    RIL6     RIL7     RIL8  \
0   2.1175   2.5510   2.2345   2.4085   1.9030   2.190   2.1430   1.9910
1  21.5955  11.6705  18.5815  12.6875  20.4295  19.364  20.1775  21.6465

      RIL9    RIL10  ...    RIL21   RIL22    RIL23    RIL24    RIL25    RIL26  \
0   1.8680   1.8425  ...   2.1775   2.108   1.8205   2.8285   2.0985   1.8045
1  18.1665  22.2695  ...  21.2765  18.289  21.0680  16.3610  21.3870  21.9440

     RIL27    RIL28    RIL29    RIL30
0   2.0545   1.9975   1.9470   1.9060
1  21.3750  20.3695  24.6965  23.2345

[2 rows x 30 columns]

In [8]:
import math
from math import sqrt
from sklearn.metrics import mean_squared_error

y_pred1=predic1.iloc[:,1]
y_pred2=predic2.iloc[:,1]

gold1=gold.iloc[0,:]
gold1=gold1.values

gold2=gold.iloc[1,:]
gold2=gold2.values

mse1=mean_squared_error(y_pred1, np.transpose(gold1))
rmse1=sqrt(mse1)
print(str(rmse1)+'Training error 1')

mse2=mean_squared_error(y_pred2,np.transpose(gold2))
rmse2=sqrt(mse2)
print(str(rmse2)+'Training error 2')

0.5009995137090918Training error 1
5.424376668837783Training error 2